[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
toree = "*"
singledispatch = "*"
backports_abc = "*"
futures = "*"

[dev-packages]

[requires]
python_version = "2.7"
